
.rock,.scissor,.paper{
    
    width: 200px;
    height: 200px;
    border-radius: 20rem; 
    padding: 50px;  
    border: 2px solid black; 
    
}
.whole-first img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}



.rock{
    background: url('img/rocky.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.paper{
    background: url('img/paper.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.scissor{
    background: url('img/scisor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.whole{
    margin-top: 50px;
    text-align: center;
    
    
}
.result{
   font-family: "Raleway", sans-serif;
   font-size: 4rem;
   font-weight: bold;
   margin-bottom: 0;

}
.score-sheet,.history,.reset{
    font-size: 2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0,0.7);

}
.reset{
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;

}
.whole-first{
    display: flex;
    column-gap: 2.2rem;
    justify-content: center;

}
.paper:hover{
    transform: scale(1.01);
    background-color: lightsalmon;
    cursor: pointer;
    border: none;
    
}
.rock:hover{
    transform: scale(1.01);
    background-color: lightblue;
    cursor: pointer;
    border: none;
    
}
.scissor:hover{
    transform: scale(1.01);
    background-color: rgb(252, 252, 135);
    cursor: pointer;
    border: none;
    
}
.history{
    color: rgb(29, 161, 242,0.7);
}
.reset:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.img{
    width:2rem;height: 2rem;
    border-radius: 3rem;
    margin-bottom: -5px;
}
.auto{
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

}
.auto:hover{
    cursor: pointer;
    transform: scale(1.01);

}